
<h1>Claire's Controlboard</h1>
<form action="/search" method="get">

  <input type="text" name="search">
  @Html.RadioButton("searchParam", "First", new { @checked = "checked" })
  <label for="searchParam">Search By First Name</label>
  @Html.RadioButton("searchParam", "Last")
  <label for="searchParam">Search by Last Name</label>
  <button type="submit">Search</button>
</form>