
<h1>Claire's Controlboard</h1>
<form action="/clientsearch" method="get">
  <label for="search">Search Clients</label>
  <input type="text" name="search">
  @Html.RadioButton("searchParam", "First", new { @checked = "checked" })
  <label for="searchParam">Search By First Name</label>
  @Html.RadioButton("searchParam", "Last")
  <label for="searchParam">Search by Last Name</label>
  <button type="submit">Search</button>
</form>

<form action="/stylists/search" method="get">
  <label for="search">Search Stylists</label>
  <input type="text" name="search">
  @Html.RadioButton("searchParam", "First", new { @checked = "checked" })
  <label for="searchParam">Search By First Name</label>
  @Html.RadioButton("searchParam", "Last")
  <label for="searchParam">Search by Last Name</label>
  <button type="submit">Search</button>
</form>